<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kakao 지도 시작하기</title>
</head>
<body>
<h1>뭐먹 서비스 테스트</h1>
<div id="map" style="width:500px;height:400px;"></div>
<!-- services 라이브러리 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3950ea2c7473a109c67662f27144adce&libraries=services"></script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3950ea2c7473a109c67662f27144adce"></script>
<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>
</body>
</html>