{{>layout/header}}
<h1>뭐먹 웹 서비스</h1>
<div class="col-md-6">
        <div class="col-md-12">
            <form>
                <div class="from-group">
                    <label for="context">검색 창</label>
                    <input type="text" class="form-control" id="context" onkeyup="main()" placeholder="What is ur favorite food?">
                    <input type="button" value="검색" onclick="alert('ㅎㅎㅎ')">
                </div>
            </form>
            <!--<a href="/search" role="button" class="btn btn-primary">검색</a>-->
        </div>
</div>
{{>layout/footer}}